@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Raleway", sans-serif;
  }
}

@layer base {
  :root {
    --background: 21 5% 100%;
    --foreground: 21 5% 10%;
    --card: 21 5% 100%;
    --card-foreground: 21 5% 15%;
    --popover: 21 5% 100%;
    --popover-foreground: 21 95% 10%;
    --primary: 21 39.8% 34.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -17 10% 95%;
    --muted-foreground: 21 5% 40%;
    --accent: -17 10% 90%;
    --accent-foreground: 21 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 21 5% 100%;
    --border: 21 20% 82%;
    --input: 21 20% 50%;
    --ring: 21 39.8% 34.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 21 10% 10%;
    --foreground: 21 5% 100%;
    --card: 21 5% 10%;
    --card-foreground: 21 5% 100%;
    --popover: 21 10% 5%;
    --popover-foreground: 21 5% 100%;
    --primary: 21 39.8% 34.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -17 10% 25%;
    --muted-foreground: 21 5% 65%;
    --accent: -17 10% 25%;
    --accent-foreground: 21 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 21 5% 100%;
    --border: 21 20% 50%;
    --input: 21 20% 50%;
    --ring: 21 39.8% 34.5%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
